body {
    width: 60%;
	margin-left: 20%;
	margin-top: 10%;
	background-color: #DCDFB5;
	font-family: 'Londrina Solid', cursive;
	text-transform: uppercase;
}

button, button:active, button:focus, input, input:active, input:focus {
	outline: none !important;
}

th > span {
	cursor: pointer;
}

.table thead th {
	border-bottom: 5px solid;
	border-top: 5px solid;
	color: #365E4D	
}

.input {
	border-radius: 25px;
	text-transform: uppercase;
	transition: all .5s ease-out;
}

.green-input {
	background-color: #365E4D;
	color: #DCDFB5;
	display: inline;
	margin-left: 50px;
	margin-bottom: 20px;
	border: 5px solid #365E4D;
}

.green-input:hover {
	background-color: #DCDFB5;
	color: #365E4D;
}

.green-input::-webkit-input-placeholder {
	font-family: 'Londrina Solid', cursive;
	color: #DCDFB5;
}

.yellow-input {
	background-color: #DCDFB5;
	border:1px solid #365E4D;
	color: #365E4D;
	padding: 10px 10px 10px 10px;
	width: 100%;
}

.yellow-input:hover {
	background-color: #365E4D;
	border:5px solid #DCDFB5;
	color: #DCDFB5;
	padding: 10px 10px 10px 10px;
}

.yellow-input::-webkit-input-placeholder {
	font-family: 'Londrina Solid', cursive;
	color: #365E4D;
	transition: .5s ease-out;
	text-transform: uppercase;
}

.yellow-input:hover::-webkit-input-placeholder {
	font-family: 'Londrina Solid', cursive;
	color: #DCDFB5;
	transition: .5s ease-out;
	text-transform: uppercase;
}

.button {
	cursor: pointer;
	border-radius: 25px;
	transition: all .5s ease-out;
	border: none;
	text-transform: uppercase;
}

.yellow-button {
	color: #365E4D;
	background-color: #DCDFB5;
}

.yellow-button:hover {
	color: #DCDFB5;
	background-color: #365E4D;
}

.green-button {
	background-color: #365E4D;
	color: #DCDFB5;
	margin-right: 60px;
	margin-bottom: 20px;
	vertical-align: bottom;
	border: 5px solid #365E4D;
}

.green-button:hover {
	background-color: #DCDFB5;
	color: #365E4D;
}

p {
	color: #DCDFB5;
	font-size: 16px;
	margin-bottom: 5px;
}

h4 {
	font-size: 20px;
	color: #DCDFB5;
	padding-bottom: 10px;
	text-align: center;
}

td {
	color: #365E4D; 
	border-bottom: 2px solid #365E4D;
}

.product-name {
	padding: 5px;
}

label {
	color: #94B3A6;
}

.modal-box {
    display: none;
}

.modal-box_active {
    display: block;
	background: #BFBFB2;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.98;
	z-index: 5;
}

.modal-box__content {
    position: fixed;
    left: 30%;
    width: 40%;
    background: #365E4D;
	border-radius: 25px;
	opacity: 1;
}

.product-modal-box__content {
	top: 10%;
    height: 80%;	
}

.delete-modal-box__content {
	top: 40%;
    height: 25%;
}

.modal-button__form {
	margin-left: 10px;
	margin-top: 40px;
}

@media only screen and (min-width:500px) and (max-width:1000px) {
	body {
		width: 100%;
		font-size: 16px;
		margin-left: 0;
	}
	.modal-box__content {
		left: 15%;
		width: 70%;
	}
	.delete-modal-box__content {
		top: 30%;
		height: 15%;
	}
	.product-modal-box__content {
		top: 25%;
		height: 45%;
	}
	.modal-button__form {
		margin-top: 50px;
	}
	.delete-modal-button__form {
		margin-left: 10%;
	}
	.green-input {
		margin-left: 0;
	}
	.green-button {
		margin-right: 0;
	}
}

@media only screen and (max-width: 499px) {
	body {
		width: 100%;
		font-size: 10px;
		margin-left: 0;
	}
	.green-input {
		margin-left: 0;
	}
	.green-button {
		margin-right: 0;
	}
	.modal-box__content {
		left: 10%;
		width: 80%;
	}
	.product-modal-box__content {
		top: 25%;
		height: 45%;
	}
	.modal-button__form {
		margin-top: 35px;
	}
	.delete-modal-box__content {
		top: 30%;
		height: 20%;
	}
	.delete-modal-button__form {
		margin-left: 15%;
	}
}